h1{
    color: red;
    font-size: 3em;
}
.cupcake{
    text-align: center;
}
.liste1{
    border: solid 1px red;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,.8);
}
a:visited{
    font-weight: bold;
}